@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --logo-font: "Share Tech Mono", monospace;
  --header-font: "Raleway", sans-serif;
  --core-font: "Merriweather Sans", sans-serif;

  --primary: #ffffff;
  --secondary: #2a3747;

  --highlight: #fa4141;

  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: var(--secondary);
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: var(--core-font);
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 15px;

  font-family: var(--logo-font);

  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;

  background: var(--highlight);

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.WelcomeView {
    background: url("cozmo.jpg") left bottom;
    background-size: cover;
  }

  .UserView {
    background: url("https://s.aolcdn.com/hss/storage/midas/fc3ad57c8b1011ce155776c897afc9c2/204004730/Anki+Cozmo+1.jpg") left bottom;
    background-size: cover;
  }

  .pt-3-half {
    padding-top: 1.4rem;
    }
    .AuthorsView {
      background: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbestechcouncil%2Ffiles%2F2019%2F01%2Fcanva-photo-editor-8-7.jpg") left bottom;
      background-size: cover;
    }
    .ManualView {
      background: url("https://media.giphy.com/media/26n7aRCUIdiFBk1a0/giphy.gif") left bottom;
      background-size: cover;
    }
    .FreemodeView {
      background: url("https://the-gadgeteer.com/wp-content/uploads/2017/11/Anki_Cozmo_6.jpg") left bottom;
      background-size: cover;
    }
    .Manual2View {
      background: url("https://s.aolcdn.com/hss/storage/midas/fec85766a44a704701a8912ea3237ce4/204005061/Cozmo+blocks.gif") left bottom;
      background-size: cover;
    }

    .Message2 {
      background: white;
      padding: 10px;
      border-bottom: var(--ui-shawdow-border);
      box-shadow: var(--ui-shawdow);
      align-self: flex-end;
      position: fixed;
      right:0;
      top: 140;
      width: 40%;
      background-color:rgba(100%,0,0,0);
    }
    
    .Message2 > .Title {
      padding-bottom: 20px;
    }
    
    .Message2 > .Details {
      display: flex;
      flex-direction: column;
      text-align: left;
      line-height: 1.5em;
    }
    .Message3 {
      background: white;
      padding: 30px;
      border-bottom: var(--ui-shawdow-border);
      box-shadow: var(--ui-shawdow);
      align-self: center;
      justify-content: space-between;
      display: grid;
      box-shadow: 
           inset 0 -3em 3em rgba(0,0,0,0.1), 
                 0 0  0 2px rgb(255,255,255),
                 0.3em 0.3em 1em rgba(0,0,0,0.3);
    }
    
    .Message3 > .Title {
      padding-bottom: 20px;
    }
    
    .Message3 > .Details {
      display: flex;
      flex-direction: column;
      text-align: left;
      line-height: 1.5em;
    }
    .footer {
      position: fixed;
      left: 550;
      bottom: 0;
      width: 100%;
      background-color:rgba(100%,0,0,0);
    }
    .Message4 {
      background: white;
      padding: 10px;
      border-bottom: var(--ui-shawdow-border);
      box-shadow: var(--ui-shawdow);
      align-self: flex-end;
      position: fixed;
      left:0;
      top: 140;
      width: 30%;
      background-color:rgba(100%,0,0,0);
    }
    
    .Message4 > .Title {
      padding-bottom: 20px;
    }
    
    .Message4 > .Details {
      display: flex;
      flex-direction: column;
      line-height: 1.5em;
    }
    .Message5 {
      background: white;
      padding: 10px;
      border-bottom: var(--ui-shawdow-border);
      box-shadow: var(--ui-shawdow);
      align-self: flex-end;
      position: fixed;
      right:0;
      top: 105;
      width: 40%;
      background-color:rgba(100%,0,0,0);
    }
    
    .Message5 > .Title {
      padding-bottom: 20px;
    }
    
    .Message5 > .Details {
      display: flex;
      flex-direction: column;
      text-align: left;
      line-height: 1.5em;
    }
  
    