extends layout

block layout-content
  div.View.AuthorsView
    h1.Banner AUTHORS
    div.Message
      div.Title
        h3 CS UFM
         h1 Barillas Juan
         h1 Mejicanos Jean Pierre
         h1 Mundo Adriana
      span.Details Programación 3


  div.NavButtons
      a(href="/")
        div.NavButton Salir