extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner LOVE-MY-ROBOT
    div.Message
      div.Title
        h3 Aprende a programar
        h1 jugando con COZMO
      span.Details Empieza a divertirte programando en "Comenzar"
    div.NavButtons
      a(href="/user")
          div.NavButton Comenzar