extends layout

block layout-content
  div.View.ManualView
    h1.Banner MANUAL
    div.Message4
      div.Title
        h3 ¿Cómo usar
         h1 LOVE-MY-ROBOT?
      span.Details Aquí te damos instrucciones básicas
      span.Details para que puedas
      span.Details divertirte mientras aprendes a programar
    div.Message2
      span.Details Si seleccionaste:
        h3 Action
      span.Details Este cuenta con distintas opciones para que Cozmo realice:
      span.Details 1.Say: En el espacio "Parámetro(s)" cambia "Something"
      span.Details  por lo que quieres que diga Cozmo.
      span.Details 2.Yes: Selecciona y Cozmo dirá "yes".
      span.Details 3.Count: En el espacio "Parámetro(s)" cambia "1,2,3"
      span.Details    por el número mayor al que deseas que Cozmo cuente.
      span.Details 4. Wait: En el espacio "Parámetro(s)" cambia "5sec"
      span.Details  por la cantidad de segundos que deseas que Cozmo espere.
    
    div.footer
        div.NavButtons
        a(href="/manual2")
            div.NavButton Drive|Animations
        div.NavButtons
        a(href="/user")
            div.NavButton Regresar