extends layout

block layout-content



  nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | About
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Coding

  .container
    script(type='text/javascript' src='scripting.js')
    p
        label(for='new-task') Add Item
        input#new-task(type='text')
        button Add
    h3 Todo
    ul#incomplete-tasks
    li
        input(type='checkbox')
        label Pay Bills
        input(type='text')
        button.edit Edit
        button.delete Delete
    li.editMode
        input(type='checkbox')
        label Go Shopping
        input(type='text' value='Go Shopping')
        button.edit Edit
        button.delete Delete
    h3 Completed
    ul#completed-tasks
    li
        input(type='checkbox' checked='')
        label See the Doctor
        input(type='text')
        button.edit Edit
        button.delete Delete
    


  div.NavButtons
      a(href="/")
        div.NavButton Salir