extends layout

block layout-content



  nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | About
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Coding
                
  div.View.UserView
    h1.Banner ¡Bienvenido!
    div.Message
      div.Title
        h3 Elije la opción que desees
        

        .dropdown
            button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Actions
            .dropdown-menu(aria-labelledby='dropdownMenu')
                a.dropdown-item(href='#') Say
                a.dropdown-item(href='#') Math
                a.dropdown-item(href='#') Yes
        .dropdown
            button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Actions
            .dropdown-menu(aria-labelledby='dropdownMenu')
                a.dropdown-item(href='#') Item
                a.dropdown-item(href='#') Another item
                a.dropdown-item(href='#') One more item
        .dropdown
            button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown button
            .dropdown-menu(aria-labelledby='dropdownMenu')
                a.dropdown-item(href='#') Item
                a.dropdown-item(href='#') Another item
                a.dropdown-item(href='#') One more item



  div.NavButtons
      a(href="/")
        div.NavButton Salir